extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let elephantid = toShow._id
    - let elephant_color = toShow.elephant_color
    - let elephant_breed = toShow.elephant_breed
    - let elephant_price = toShow.elephant_price
    - let actionid = "/resource/elephants/" + elephantid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{elephantid}
    form(id='elephantForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.elephantAttr(for='elephant_color',class="col-form-label") elephant Colour
        div(class="col-auto")
          input#elephant_color(type='text', name='elephant_color',class="form-control", value=elephant_color)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.elephantAttr(for='elephant_breed',class="col-form-label") elephant bREED 
        div(class="col-auto")
          input#elephant_breed(type='text', name='elephant_breed',class="form-control", value=elephant_breed)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.elephantAttr(for='elephant_price',class="col-form-label") elephant cost
        div(class="col-auto")
          input#elephant_price(type='number', name='elephant_price',class="form-control", value=elephant_price)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['elephantForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });